[Unit]
Description=U2F proxy for %i

[Service]
Type=notify
ExecStart=/usr/bin/qubes-u2fproxy %i
StandardOutput=syslog
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
