[Unit]
Description=U2F proxy for %i
ConditionPathExists=/var/run/qubes-service/qubes-u2f-proxy

[Service]
Type=notify
ExecStart=/usr/bin/qu2f-proxy %i
StandardOutput=syslog
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
