ACTION=="remove", GOTO="qctap_hidraw_end"
SUBSYSTEM=="hidraw", MODE="0660", GROUP="qubes"
SUBSYSTEM=="usb", MODE="0664", GROUP="qubes"
LABEL="qctap_hidraw_end"

# vim: ft=udevrules
