Source: qubes-u2f
Section: utils
Priority: optional
Maintainer: Wojtek Porczyk <woju@invisiblethingslab.com>
Build-Depends:
 debhelper,
 dh-python,
 python3-all,
 python3-setuptools,
 python3-sphinx
X-Python3-Version: >= 3.7
Standards-Version: 4.4.0.1
Homepage: https://github.com/QubesOS/qubes-app-u2f.git
Vcs-Git: https://github.com/QubesOS/qubes-app-u2f.git
Vcs-Browser: https://github.com/QubesOS/qubes-app-u2f.git

Package: qubes-u2f
Architecture: all
Depends:
 python3-fido2,
 ${python3:Depends},
 ${misc:Depends}
Description: Qubes OS U2F proxy
 A secure forwarder for U2F messages.
